<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- <authentication mode="Forms">
      <forms name=".COOKIEPR" loginUrl="~/Login.aspx" timeout="300" defaultUrl="~/Pages/MyCertList.aspx" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization> -->
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
      <!-- These tag mapping are to circumvent the problem of asp.net validators not firing within a UpdatePanel -->
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="Accounts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSSProvision">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <remove name="LMSDB"/>
    <add name="LMSDB" connectionString="Data Source=SJC-sqlstage-01;Initial Catalog=LMS_stage;User Id=arao1;Password=arao1" providerName="System.Data.SqlClient"/>
    <add name="KEYGEN" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=10.1.1.32;Database=certificates;uid=indiaDev;pwd=initial123;" providerName="System.Data.Odbc"/>
    <add name="CERTSDB" connectionString="Data Source=10.2.1.215;Initial Catalog=Stg-Certificates;User Id=arao1;Password=@extract4lms" providerName="System.Data.SqlClient"/>
    <add name="SOFSNDB" connectionString="Data Source=10.2.1.215;Initial Catalog=Stg-SAPUtils;User Id=arao1;Password=@extract4lms" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ARUBA_SITE_URL" value="http://licensetest.arubanetworks.com/"/>
    <add key="ALCATEL_SITE_URL" value="https://licensing.alcateloaw.com/"/>
    <add key="ALCATEL_WEB_SERVER" value="alcatel"/>
    <add key="ARUBA_BRAND" value="aruba"/>
    <add key="ALCATEL_BRAND" value="alcatel"/>
    <add key="DELL_BRAND" value="dell"/>
    <add key="KeyGen.URL" value="http://wsdl.arubanetworks.com/ArubaWSTest.php/wsdl"/>
    <add key="AuthUser.URL" value="http://iadsvc02/SingleSignOn-Beta/Authentication.asmx"/>
    <add key="NetChem.URL" value="http://iadsvc02/RFPGenKey/Service.asmx"/>
    <add key="LoginTest.URL" value="http://wsdl.arubanetworks.com/ArubaWSTest.php"/>
    <add key="ECSGen.URL" value="http://iadsvc02/ECSGen/ECSGen.asmx"/>
    <add key="KeyGenQA.URL" value="http://newwsdl.arubanetworks.com/ArubaWSFlexQA.php/"/>
    <add key="KeyGenUp.URL" value="http://wsdl.arubanetworks.com/ArubaWS5dot0.php"/>
    <add key="AIRWAVE_URL" value="http://iadsvc02/AirwaveWS/Airwave.asmx"/>
    <add key="AMG_URL" value="http://iadsvc02/AmgWS/Service.asmx"/>
    <add key="LMSAPP_ID" value="LMS"/>
    <add key="ALCAPP_ID" value="ALCATEL"/>
    <add key="ADMIN_ROLE" value="aruba-god"/>
    <add key="SITE_OPEN" value="true"/>
    <add key="BCC_ENABLED" value="true"/>
    <add key="ARUBA_ROLE" value="aruba"/>
    <add key="MAXTRN_COUNT" value="2"/>
    <add key="RESTRICTED_DOMAIN" value="YES"/>
    <add key="IP_REQUIRED" value="NO"/>
    <add key="UPLOAD_FILE" value="E://LMSCerts/Input/"/>
    <add key="FILE_SIZE" value="1048576"/>
    <add key="TRANSFER_CERT" value="company_certificate"/>
    <add key="UPDATE_DOMAIN_URL" value="Accounts/UpdateMyEmailId.aspx"/>
    <add key="BCC_MAIL" value="arao@arubanetworks.com"/>
    <add key="DEV_MAIL" value="arao@arubanetworks.com"/>
    <add key="CC_MAIL" value="arao@arubanetworks.com"/>
    <add key="SITE_CLOSED_URL" value="~/Pages/SiteClosed.aspx"/>
    <add key="LOGIN_URL" value="~/Login.aspx"/>
    <add key="PENDING_ACCT_URL" value="~/Accounts/PendingAccountInfo.aspx"/>
    <add key="DEFAULT_URL" value="~/Pages/MycertList.aspx"/>
    <add key="ERROR_URL" value="~/Pages/Default.aspx?tabId=Error"/>
    <add key="ACCESS_DENIED_URL" value="~/Pages/Default.aspx?tabId=AccessDenied"/>
    <add key="MAC_FORMAT" value="^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$"/>
    <add key="DATE_FORMAT" value="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$"/>
    <add key="ACC_CERTS" value="account_certificate"/>
    <add key="CTO_ACCT" value="1034"/>
    <add key="CUSTOMER_CODE_QA" value="ARU0QA"/>
    <add key="QA_CERT_ACCT" value="2342"/>
    <add key="COMPANYLIST_URL" value="~/Pages/Companies.aspx"/>
    <add key="ADDEDITCOMPANY_URL" value="~/Pages/AddEditCompany.aspx"/>
    <add key="SHOWMEMBERS_URL" value="~/Pages/ShowMembers.aspx"/>
    <add key="ADDMEMBERS_URL" value="~/Pages/AddMembers.aspx"/>
    <add key="ADDEDITDISTRIBUTOR_URL" value="~/Pages/AddEditDistributor.aspx"/>
    <add key="ADDEDITRESELLER_URL" value="~/Pages/AddEditReseller.aspx"/>
    <add key="ADDEDITACCOUNT_URL" value="~/Pages/CreateAccount.aspx"/>
    <add key="EDITCOMPANYACCT_URL" value="~/Pages/UpdateCompanyAcct.aspx"/>
    <add key="LISTACCOUNTS_URL" value="~/Pages/Accounts.aspx"/>
    <add key="SPL_PRIV" value="vivek@arubanetworks.com;tzullo@arubanetworks.com;receiptclerk@arubanetworks.com;arao@arubanetworks.com"/>
    <add key="ARUBA_FROM_EMAIL" value="Aruba Networks Licensing Manager|licensing@arubanetworks.com"/>
    <add key="ALCATEL_FROM_EMAIL" value="Alcatel OmniAccess Licensing Manager|Esd.support@alcatel-lucent.com"/>
    <add key="RFP_USER" value="rfpLicense"/>
    <add key="RFP_PWD" value="rfpL1c5ns5!"/>
    <add key="KEYGEN_USER" value="vivek@arubanetworks.com"/>
    <add key="KEYGEN_PASS" value="ZDdQv!#Vyitb4xxi"/>
    <add key="DOWNLOAD_PATH" value="c:\Download\"/>
    <add key="XML_FILE" value="Document.xml"/>
    <add key="DELIMITER" value="TAB"/>
    <!--page IDs for auth access-->
    <add key="ACTIVATE_AUTH" value="2|MENU"/>
    <add key="ACTIVATELEGACY_AUTH" value="35|MENU"/>
    <add key="IMPERSONATE_AUTH" value="4|MENU"/>
    <add key="ALLCERTS_AUTH" value="5|MENU"/>
    <add key="DECODECERT_AUTH" value="34|MENU"/>
    <add key="REASSIGNCERTS_AUTH" value="8|MENU"/>
    <add key="CREATEEVALCERT_AUTH" value="9|MENU"/>
    <add key="EVALPARTS_AUTH" value="10|MENU"/>
    <add key="IMPORTCTO_AUTH" value="11|MENU"/>
    <add key="QUICKSEARCH_AUTH" value="12|MENU"/>
    <add key="MANCOMPANIES_AUTH" value="13|MENU"/>
    <add key="ADDEDITCOMPANY_AUTH" value="14|MENU"/>
    <add key="SHOWMEMBERS_AUTH" value="15|MENU"/>
    <add key="ADDMEMBERS_AUTH" value="16|MENU"/>
    <add key="DISTRIBUTORS_AUTH" value="17|MENU"/>
    <add key="ADDEDITDISTRIBUTOR_AUTH" value="18|MENU"/>
    <add key="RESELLERS_AUTH" value="19|MENU"/>
    <add key="ADDEDITRESELLER_AUTH" value="20|MENU"/>
    <add key="LISTUNASSIGNEDCERTS_AUTH" value="21|MENU"/>
    <add key="LISTASSIGNEDCERTS_AUTH" value="22|MENU"/>
    <add key="ASSIGNCERTSTORESELLERS" value="23|MENU"/>
    <add key="LISTCERTSASSIGNEDTOME_AUTH" value="24|MENU"/>
    <add key="GENERATEQALIC_AUTH" value="25|MENU"/>
    <add key="CONFIGDATA_AUTH" value="26|MENU"/>
    <add key="ADDMISSSN_AUTH" value="27|MENU"/>
    <add key="ADDMMSLIC_AUTH" value="28|MENU"/>
    <add key="CANCELSERIALNUM_AUTH" value="29|MENU"/>
    <add key="CREATEACCOUNT_AUTH" value="30|MENU"/>
    <add key="CHANGEPASSWORD_AUTH" value="31|MENU"/>
    <add key="LISTACCOUNTS_AUTH" value="32|MENU"/>
    <add key="CANCELOPS_AUTH" value="36|MENU"/>
    <add key="LISTSMYCERT_AUTH" value="6|MENU"/>
    <add key="COMPANYACCOUNTS_AUTH" value="38|MENU"/>
    <add key="LISTSMYCONTROLLER_AUTH" value="39|MENU"/>
    <add key="ACTIVATEEVAL_AUTH" value="40|MENU"/>
    <add key="LISTSMYCONT_AUTH" value="41|MENU"/>
    <add key="LISTSMYEVALCERTS_AUTH" value="42|MENU"/>
    <add key="ALCTOARUBA_AUTH" value="43|MENU"/>
    <add key="LISTSMYRMACTRL_AUTH" value="44|MENU"/>
    <add key="UPGRADECERT_AUTH" value="45|MENU"/>
    <add key="EVALCONTENT_AUTH" value="46|MENU"/>
    <add key="GENLEGACYCERT_AUTH" value="47|MENU"/>
    <add key="AIRWTRANSFERCERT_AUTH" value="51|MENU"/>
    <add key="AIRWACTIVATECERT_AUTH" value="49|MENU"/>
    <add key="AIRWMYCERT_AUTH" value="48|MENU"/>
    <add key="AIRWCONSOLIDATELIC_AUTH" value="50|MENU"/>
    <add key="AIRWIMPORTLIC_AUTH" value="52|MENU"/>
    <add key="AIRWCREATEEVAL_AUTH" value="54|MENU"/>
    <add key="AIRWIMPORTLIC_AUTH" value="55|MENU"/>
    <add key="ALLRMALIC_AUTH" value="56|MENU"/>
    <add key="ADDHISTORYDET_AUTH" value="57|MENU"/>
    <add key="DOWNLOAD_AUTH" value="58|MENU"/>
    <add key="DOWNLOADREP_AUTH" value="60|MENU"/>
    <add key="LISTUNASSIGNEDACT_AUTH" value="61|MENU"/>
    <add key="UPDATECOMPANYACCT_AUTH" value="64|MENU"/>
    <add key="BULKACTIVATE_AUTH" value="65|MENU"/>
    <add key="AMIGOCERT_AUTH" value="67|MENU"/>
    <add key="ALLAMGCERTS_AUTH" value="69|MENU"/>
    <add key="GENSUBKEY_AUTH" value="68|MENU"/>
    <add key="UPGRADESUBKEY_AUTH" value="70|MENU"/>
    <add key="ADDADVERTISING_AUTH" value="71|MENU"/>
    <add key="HIGHAVAIL_AUTH" value="72|MENU"/>
    <add key="ADD_ONBOARD" value="73|MENU"/>
    <add key="MYLEGACYSUB_AUTH" value="74|MENU"/>
    <add key="COMPANYADMIN_MENU" value="38|64"/>
    <add key="MAIL_SERVER" value="10.1.8.200"/>
    <add key="SERVER_PORT" value="25"/>
    <add key="UPG_VERSION" value="3"/>
    <add key="QA_SO_ID" value="99999"/>
    <add key="SOLD_TO_CUST" value="ARU001"/>
    <add key="SL_LENGTH" value="9"/>
    <add key="RFPSTD" value="RFP-1012"/>
    <add key="RFP_TYPE" value="RFP"/>
    <add key="ECS_TYPE" value="ECS"/>
    <add key="CERT_TYPE" value="CERT"/>
    <add key="DEFAULT_ROLE" value="default"/>
    <add key="CERTTYPE" value="CERT"/>
    <add key="AW_TYPE" value="AWMS"/>
    <add key="AMG_TYPE" value="AMG"/>
    <add key="ACT_TYPE" value="New Business"/>
    <add key="DEFAULT_ROLE_PAGE" value="~/Pages/GenerateQALicense.aspx"/>
    <add key="KeyGen.ArubaWSTest" value="http://wsdl.arubanetworks.com/ArubaWSTest.php/"/>
    <add key="ECSGen.ECSGen" value="http://iadsvc02/ECSGen/ECSGen.asmx"/>
    <add key="RFPGenKey.Service" value="http://iadsvc02/RFPGenKey/Service.asmx"/>
    <add key="AMIGOPOD_SUBSCRIPTION_MAIL_TEMPLATE" value="~/MailTemplates/AmigopodSubscription.htm"/>
    <add key="AMIGOPOD_UPGRADE_MAIL_TEMPLATE" value="~/MailTemplates/AmigopodUpgrade.htm"/>
    <add key="AMIGOPOD_HA_MAIL_TEMPLATE" value="~/MailTemplates/AmigopodHA.htm"/>
    <add key="AMG_IMPSUB_MAIL_TEMPLATE" value="~/MailTemplates/AmigopodSubImp.htm"/>
    <add key="AMG_ERROR_MAIL_TO" value="arao@arubanetworks.com"/>
    <add key="AMG_ERROR_MAIL_CC" value=""/>
    <add key="AirwavekeyGen.Airwave" value="http://iadsvc02/AirwaveWS/Airwave.asmx"/>
    <add key="CLEARPASS_GUEST" value="GUEST"/>
    <add key="CLEARPASS_HA" value="HA"/>
    <add key="CLEARPASS_ADV" value="ADV"/>
    <add key="CLEARPASS_ONBOARD" value="ONBOARD"/>
    <add key="CLEARPASS_BASE" value="BASE"/>
    <add key="CLEARPASS_IMPORT" value="IMPORT"/>
    <add key="AMG_EVAL" value="Customer Evaluation"/>
    <add key="AMG_HW" value="HARDWARE"/>
    <add key="AMG_SW" value="Software"/>
    <add key="AMG_HW_BASE" value="AMG-HW-BASE|AMG HW STARTER IMPORTED LICENSE"/>
    <add key="AMG_SW_BASE" value="AMG-SW-BASE|AMG SW STARTER IMPORTED LICENSE"/>
    <add key="AMG_HW_BASER" value="AMG-HW-BASE-R|Imported License for High Avaialbility of HW appliance"/>
    <add key="AMG_SW_BASER" value="AMG-SW-BASE-R|Imported License for High Avaialbility of SW"/>
    <add key="AMG_LIC" value="AMG-LIC|Imported User License Expansion Pack"/>
    <add key="AMG_OBLIC" value="LIC-CP-OB|Imported OnBoard License"/>
    <add key="AMG_ADV" value="AMG-ADVERT|Imported Advertising Services Plugin"/>
    <add key="AMG_SO_ID" value="55555"/>
    <add key="CLEARPASS_ACTIVATION" value="ACTIVATION"/>
    <add key="AMG_SW_OP" value="AMG-SW-OP|AMG SW STARTER FREE LICENSE"/>
    <add key="LICMTRX_AUTH" value="76|MENU"/>
    <add key="GENCUSTSUBKEY_AUTH" value="79|MENU"/>
    <add key="GENCLPLIC_AUTH" value="83|MENU"/>
    <add key="MYCLPCERT_AUTH" value="81|MENU"/>
    <add key="ALLCLPCERTS_AUTH" value="82|MENU"/>
    <add key="MYCLPSUB_AUTH" value="83|MENU"/>
    <add key="ALLCLPSUB_AUTH" value="84|MENU"/>
    <add key="ALECERT_AUTH" value="85|MENU"/>
    <add key="ALEACTIVATE_AUTH" value="86|MENU"/>
    <add key="ADDQUICKCONNECT_AUTH" value="89|MENU"/>
    <add key="AVENDA_SKU_ID" value="47"/>
    <add key="AMIGOPOD_SKU_ID" value="45"/>
    <add key="AMIGOPOD_SKU_DESC" value="Amigopod 3.1.1 Production Release"/>
    <add key="AVENDA_SKU_DESC" value="ClearPass Subscription ID"/>
    <add key="CLS_HW_BASE" value="CLS-HW-BASE|CLEARPASS HW STARTER IMPORTED LICENSE"/>
    <add key="CLS_SW_BASE" value="CLS-SW-BASE|CLEARPASS SW STARTER IMPORTED LICENSE"/>
    <add key="AVENDA_IMPSUB_MAIL_TEMPLATE" value="~/MailTemplates/ClsImpSubscription.htm"/>
    <add key="CLS_SUBSCRIPTION_MAIL_TEMPLATE" value="~/MailTemplates/ClsSubscription.htm"/>
    <add key="AVENDA_IMPSUB_LIC_MAIL_TEMPLATE" value="~/MailTemplates/ClsImpSubscriptionLic.htm"/>
    <add key="AVENDA_IMPLIC_MAIL_TEMPLATE" value="~/MailTemplates/ClsImpLic.htm"/>
    <add key="AVENDA_LIC_MAIL_TEMPLATE" value="~/MailTemplates/ClsLicense.htm"/>
    <add key="CLS_QC_MAIL_TEMPLATE" value="~/MailTemplates/ClsQuickConnect.htm"/>
    <add key="CLS_QCPWD_MAIL_TEMPLATE" value="~/MailTemplates/ClsQCPassword.htm"/>
    <add key="ALE_URL" value="http://iadsvc02/ALEWS/ALE.asmx"/>
    <add key="ALE_TYPE" value="ALE"/>
    <add key="ALEKeyGen.ALE" value="http://iadsvc02/ALEWS/ALE.asmx"/>
    <add key="CLS_EVAl_MAIL_TEMPLATE" value="~/MailTemplates/ClsEvalKey.htm"/>
    <add key="CLPCREATEEVAL_AUTH" value="87|MENU"/>
    <add key="MYLEGACYLIC_AUTH" value="88|MENU"/>
    <add key="CLP_EVAL_CAT" value="Customer Evaluation"/>
    <add key="CLP_EVAL_DAYS" value="+90 days"/>
    <add key="CLSTRANS_COUNT" value="2"/>
    <add key="CLP_LIC_TYPE" value="evaluation"/>
    <add key="QUICKCONNECT_TYPE" value="Quick Connect"/>
    <add key="QUICK_STATUS" value="enabled"/>
    <add key="QC_URL" value="https://quickconnect.arubanetworks.com"/>
    <add key="CLS_URL" value="https://clearpass.arubanetworks.com/vm/index.php"/>
    <add key="AMG_URL" value="https://secure.amigopod.com/vm/"/>
    <add key="ALLQCCERTS_AUTH" value="91|MENU"/>
    <add key="MYQCCERTS_AUTH" value="90|MENU"/>
    <add key="ALLAIRWAVE_AUTH" value="77|MENU"/>
    <add key="AWREASSIGN_AUTH" value="78|MENU"/>
    <add key="LISTUNASSIGNEDCLPCERTS_AUTH" value="92|MENU"/>
    <add key="LISTUNASSIGNEDAWCERTS_AUTH" value="93|MENU"/>
    <add key="ASSIGNAWCERTRESELLERS_AUTH" value="94|MENU"/>
    <add key="ASSIGNCLPCERTRESELLERS_AUTH" value="95|MENU"/>
    <add key="LISTASSIGNEDAWCERTS_AUTH" value="96|MENU"/>
    <add key="LISTASSIGNEDCLPCERTS_AUTH" value="97|MENU"/>
    <add key="ASSIGNEDAWCERTSTOME_AUTH" value="98|MENU"/>
    <add key="ASSIGNEDCLPCERTSTOME_AUTH" value="99|MENU"/>
    <add key="QC_YEAR" value="1"/>
    <add key="AmigopodWS.Service" value="http://iadsvc02/AmgWS/Service.asmx"/>
    <add key="A9900" value="9900"/>
    <add key="A9000" value="9000"/>
    <add key="A9090" value="9090"/>
    <add key="KeyGenUp.ArubaWS5dot0" value="http://wsdl.arubanetworks.com/ArubaWS5dot0.php"/>
    <add key="KeyGenQA.ArubaWSFlexQA" value="http://wsdl.arubanetworks.com/ArubaWSFlexQA.php"/>
    <add key="AuthUser.Authentication" value="http://iadsvc02/SingleSignOnAruba/Authentication.asmx"/>
    <add key="Identity_management_LMS.Service" value="https://dev-ssows.arubanetworks.com/DEV/IdentityManagementService/Service.asmx"/>
    <add key="NEWCREATEACCT_URL" value="http://licensetest.arubanetworks.com/Pages/CreateAccount.aspx"/>
    <add key="NEWREGACCT_URL" value="http://licensetest.arubanetworks.com/Accounts/CreateAccount.aspx"/>
    <add key="NEWFORGOTPW_URL" value="https://dev-ssows.arubanetworks.com/Test/Usermanager/resetPassword?PartnerId=DEV:Licensing:SP"/>   
    <add key="NEWCHPW_URL" value="http://licensetest.arubanetworks.com/Pages/ChangePassword.aspx"/>
    <add key="NEWCREATEAWEVAL_URL" value="http://licensetest.arubanetworks.com/Pages/CreateAirwaveEvalCert.aspx"/>    
    <add key="A9980" value = "A9980"/>
  </appSettings>
</configuration>